footer {
    background: linear-gradient(to right, #adadad 0%, #ffffff 100%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
#logoGit{
    padding-left: 20%;
}